<?xml version="1.0"?>
<TLV>
  <type name="PortInfo">
    <type name="PortUser">
      <value>variable</value>
    </type>
    <type name="PortSwitch">
      <value>variable</value>
    </type>
    <type name="SMI">
      <value>variable</value>
    </type>
    <type name="AddrPHY">
      <value>variable</value>
    </type>
    <type name="AddrSwitch">
      <value>variable</value>
    </type>
    <type name="PortSpeed">
      <value>Fast Fiber</value>
      <value>Fast Copper</value>
      <value>Gig Fiber</value>
      <value>Gig Copper</value>
      <value>10Gig Fiber</value>
      <value>10Gig Copper</value>
    </type>
    <type name="PortCombo">
      <value>Combo</value>
      <value>Non Combo</value>
    </type>
    <type name="OpticTransiever">
      <value>None</value>
      <value>SFP</value>
      <value>SFP+</value>
      <value>SFF</value>
    </type>
    <type name="TypePHY">
      <value>88E3083</value>
      <value>88E1322</value>
      <value>88E1340</value>
      <value>98X20251</value>
    </type>
    <type name="PortPOE">
      <value>NonPOE</value>
      <value>POE</value>
      <value>POE+</value>
    </type>
    <type name="PortStack">
      <value>Non Stack</value>
      <value>Primary</value>
      <value>Secondary</value>
    </type>
    <type name="SwitchCascade">
      <value>variable</value>
    </type>
    <type name="InterruptPin">
      <value>variable</value>
    </type>
    <type name="TypeI2C">
      <value>variable</value>
    </type>
    <type name="I2CAddrStream">
      <value>variable</value>
    </type>
  </type>
  <type name="ChipSwitch">
    <value>98DX2122</value>
    <value>98DX4122</value>
  </type>
  <type name="POEInfo">
    <type name="POEBudget">
      <value>variable</value>
    </type>
    <type name="POEChip">
      <value>PD69100 (Microsemi)</value>
      <value>Si3482 (Silabs)</value>
    </type>
    <type name="ChipInterface">
      <value>UART</value>
      <value>I2C</value>
      <value>SPI</value>
    </type>
    <type name="ChipPOEAddrI2C">
      <value>variable</value>
    </type>
  </type>
  <type name="DyingGasp">
    <value>variable</value>
  </type>
  <type name="MacAddr">
    <value>variable</value>
  </type>
  <type name="SerialNumber">
    <value>variable</value>
  </type>
  <type name="Name">
    <value>variable</value>
  </type>
  <type name="SoftwareSet">
    <value>variable</value>
  </type>
</TLV>
